html{
    background-color:antiquewhite;
    text-align: center;
}

h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: brown;
}

l{
    text-decoration: solid;
    color:brown;
}

h2{
    text-align: center;
    text-decoration:solid;
}

